.react-multi-carousel-list {
  padding: 4rem 0;
}

/* .react-multi-carousel-item {
  justify-content: center;
} */

/* .react-multi-carousel-item > div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .react-multiple-carousel__arrow--left {
  left: 0 !important;
} */

/* .react-multiple-carousel__arrow--right {
  right: 0 !important;
} */

/* .react-multi-carousel-track {
  padding: 2rem 0 !important;
} */
