.category-title {
  font-weight: 200;
  margin: 0 auto;
}

.list-items:hover {
  text-decoration: none;
}

.view-product-span:hover {
  color: var(--third-color);
}

.toast-black-background {
  background-color: var(--first-color);
}

.toast-font-color {
  color: white
}

.toast-progress-bar {
  background: var(--third-color)
}