.product-description{
    font-weight: 400;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
   
    width: 100%;
    
}
.product-images{
    display: flex;
    justify-content: space-evenly;
    
}
.pr-image{
    max-width: 500px;
    max-height: 500px;
}
.similar-products{
    margin-top: 50px;
}
.cart-button{
    background-color: white ;
    color: var(--third-color);
    border: none;
    margin-top: 1rem;
    padding: 6px;
}
.cart-button:hover{
    background-color: white;
    color: var(--third-color);
    
}
.carousel-img{
    
    display: flex;
    max-width: 100%;
    
    
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.product-page-col-pic {
    padding-right: 45px;
    padding-left: 0
}
.product-page-col-text {
    padding-right: 0;
    padding-left: 45px;
    border-left: 1px solid rgba(150, 148, 148, 0.4);
}

@media (max-width: 767px){
    .product-page-col-pic {
        padding-right: 0;
        
    }
    .product-page-col-text {
        padding-left: 0;
        border: none
    }
 } 