nav {
    background-color: black
}

nav .container-fluid {
    padding: 0;
}

.navbar-brand {
    margin-right: 0;
    padding: 19.6px 1.6rem;
    background-color: var(--third-color);
    font-weight: 500;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

a.nav-link {
    font-size: var(--font-size-md);
    padding-top: 25px;
    padding-bottom: 25px;
    flex-grow: 1;
    text-align: center;
    border-left: 0.9px solid rgba(150, 148, 148, 0.4);
}

a.nav-link:hover {
    background-color:  rgb(83, 82, 82);
    color: white;
}

a.nav-link .badge {
    position: absolute;
    top: -10px;
}

.dropdown {
    flex-grow: 1;
}

@media (max-width: 991px){
    .dropdown a {
        text-align: center;
    }
 } 