.card-group {
  margin-top: 4rem;
  justify-content: space-between;
}
.card-1 {
  flex-direction: column;
  text-align: center;
  transition: all 1s ease;
  border: 0px solid white;
}

.image {
  color: rgb(0, 0, 0);
  background: radial-gradient(rgb(224, 224, 224) 15%, transparent 16%) 0 0,
    radial-gradient(rgb(227, 227, 227) 15%, transparent 16%) 8px 8px;
  background-color: #ebebeb;
  background-size: 19px 19px;
  position: relative;
  font-weight: 450;
  -moz-box-shadow:    inset 0 0 40px #9b9b9b;
  -webkit-box-shadow: inset 0 0 40px #979696;
  box-shadow:         inset 0 0 40px #c6c6c6;
}

.card-1 img {
  transition: all 1s ease;
}

.img-card-1 {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: auto;
}
.card-text {
  margin-top: 1.5rem;
}
.card-name {
  margin-bottom: 0.2rem;
  color: var(--first-color);
  transition: all 1s ease;
}

.card-1 .card-text svg {
  fill: var(--first-color);
  transition: all 1s ease;
}

.card-1:hover {
  /* background-color: rgb(240, 240, 240);
border: 1px solid rgb(187, 187, 187); */
  transform: scale(1.2);
  cursor: pointer;
}

.card-1:hover .card-name {
  color: var(--third-color);
}

.card-1:hover .card-text > svg {
  fill: var(--third-color);
}

.card-1:hover img {
  box-shadow: 0px 0px 8px 6px rgba(149, 149, 149, 1);
}

.desc-about {
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  width: 80%;
}
.mer-card {
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.mer-img {
  width: 100%;
}
.mer-text {
  margin-top: auto;
}
.tec-icon {
  transform: scale(2);
}
.icon-container {
  width: 50%;
}
.list-tecs {
  font-weight: 500;
  font-size: x-large;
  padding: 20px;
}
.list-tecs:hover {
  text-decoration: none;
}

.col-left {
  padding-right: 3rem;
}

.col-right {
  padding-left: 3rem;
}

@media (max-width: 990px) {
  .mer-img {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  .card-1 {
    margin-bottom: 2rem;
  }
  .col-left,
  .col-right {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .mer-card {
    margin-top: 1.8rem;
  }
}
@media (max-width: 575px) {
  .card-1 {
    margin-bottom: 1rem;
  }
}
